pandas==3.0.1
numpy==2.4.2
shiny==1.5.1
kagglehub==1.0.0
scikit-learn==1.8.0
matplotlib==3.10.7
altair==6.0.0
jupyter==1.0
vegafusion==2.0.3
pyarrow==23.0
vl-convert-python==1.9.0
chatlas==0.15.2
dotenv==0.9.9
python-dotenv==1.2.2
querychat==0.5.1
shinychat==0.2.9
plotly==6.6.0
shinywidgets>=0.3.0
pytest>=8.0.0
pytest-playwright>=0.5.0
ibis-framework==12.0.0
